.container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.left {
  display: none;
  width: 50%;
}

@media (min-width: 768px) {
  .left {
    display: flex;
  }
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 20rem; /* 80 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .form {
    width: 24rem; /* 96 */
  }
}

.title {
  font-size: 2.25rem; /* text-4xl */
  color: #111827; /* gray-900 */
  font-weight: 500;
}

.subtitle {
  font-size: 0.875rem;
  color: rgba(107, 114, 128, 0.9);
  margin: 0.75rem 0;
  text-align: center;
}

.inputWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  background: transparent;
  border: 1px solid rgba(156, 163, 175, 0.7);
  height: 3rem;
  border-radius: 50px;
  overflow: hidden;
  padding-left: 1.5rem;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.input {
  background: transparent;
  outline: none;
  border: none;
  color: #111827;
  font-size: 0.875rem;
  width: 100%;
  height: 100%;
}

.input::placeholder {
  color: rgba(107, 114, 128, 0.8);
}

.button {
  margin-top: 2rem;
  cursor: pointer;
  width: 100%;
  height: 2.75rem;
  border-radius: 9999px;
  background-color: #6366f1; /* indigo-500 */
  color: #fff;
  transition: opacity 0.2s ease-in-out;
  border: none;
}

.button:hover {
  opacity: 0.9;
}

.switchText {
  color: rgba(107, 114, 128, 0.9);
  font-size: 0.875rem;
  margin-top: 1rem;
}

.switchLink {
  cursor: pointer;
  color: #818cf8; /* indigo-400 */
  text-decoration: none;
}

.switchLink:hover {
  text-decoration: underline;
}
.loader {
  width: 14px;
  height: 14px;
  border: 1px solid #e5e7eb; 
  border-top-color: #6366f1; 
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
